@model EmployeeManagementSystem.Employee

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
       <dt>
           @Html.DisplayNameFor(model => model.EmpId)
       </dt>
        <dd>
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuperviserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuperviserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WageRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WageRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmpId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
